.entry-main-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.crops-section {
    text-align: center;
    margin: 20px 0;
}

.description-section {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}




